@page
@model MetroVMS.Pages.MaterialRequest.ManageModel
@using MetroVMS.Localization
@{
    Layout = "_LayoutStandaloneContent";
}
@inject ISharedLocalizer Localize
<form method="post" id="crudForm" novalidate="novalidate" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-body">
            <div class="col-12" id="response">
                @if (!string.IsNullOrEmpty(Model.pageErrorMessage))
                {
                    <div class="alert alert-dismissible fade show bg-light-danger border border-light-danger shadow-lg rounded-3 p-3 w-100 d-flex flex-column align-items-center text-center" role="alert">
                        <i class="ki-duotone ki-info-circle fs-2 text-danger me-3"></i>
                        <div class="flex-grow-1 fw-bold text-dark">
                            <strong></strong> @Model.pageErrorMessage
                        </div>
                        <button type="button" class="btn-close position-absolute top-50 end-0 translate-middle-y me-3" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            </div>
            <input type="hidden" asp-for="_formMode" />
            <input type="hidden" asp-for="inputModel.RequestId" />
            @* <input type="hidden" asp-for="inputModel.loggedinUserId" value="@User?.FindFirst("Userid")?.Value" /> *@
            <div class="row">
                <div class="col-12 mb-5">
                    <div class="form-group">
                        <label class="required form-label">Request Date</label>
                        <input asp-for="inputModel.RequestDate" class="form-control form-control-sm" type="date" placeholder="Select Request Date" />
                        <span asp-validation-for="inputModel.RequestDate" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-12 mb-5">
                    <div class="form-group">
                        <label class="form-label">Delivery Date</label>
                        <input asp-for="inputModel.DeliveryDate" class="form-control form-control-sm" type="date" placeholder="Select Delivery Date"></input>
                        <span asp-validation-for="inputModel.DeliveryDate" class="text-danger"></span>
                    </div>
                </div>



            </div>

            <div class="card-footer text-end fixed-bottom bg-light">
                <div class="row">
                    <div class="col-6 text-start">
                        <button type="button" class="btn btn-secondary btn-flat btn-sm" id="btnClear"><i class="fas fa-times"></i>  Clear</button>

                    </div>
                    <div class="col-6 text-end">
                        <button type="submit" name="btnSubmit" value="btnSave" class="btn btn-primary btn-flat btn-sm btn-req-loader"><i class="far fa-save"></i> Save</button>
                        <button type="submit" name="btnSubmit" id="btnRefresh" value="btnRefresh" class="btn btn-outline-primary btn-sm d-none btn-req-loader" formnovalidate="formnovalidate">btnRefresh</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            $("#btnClear").click(function () {
                $("#crudForm")[0].reset(); // Reset the form fields

                $("#inputModel_DepartmentName").val("");
                $("#inputModel_Description").val("");
            });
            top.hidePageLoader();
            $('#dt_datepicker .input-group.date').datepicker({
                format: "dd-M-yyyy",
                autoclose: true,
            });
        });
        // Trigger refresh on role change
        $('.role-code').change(function () {
            var selectedValue = $(this).val();
            $("#btnRefresh").click();
        });
        if ("@Model.IsSuccessReturn" == "True") {
            top.Swal.fire({
                icon: 'success',
                buttonsStyling: false,
                title: "@Html.Raw(@Model.sucessMessage)",
                showConfirmButton: false,
                timer: 1500
            })
            top.hidePopupWithRefresh('btnRefresh');
        }
    </script>

}