@model IndexModel
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using MetroVMS.Localization
@using MetroVMS.Models.PageModels
@inject ISharedLocalizer Localize
<div class="table-responsive ">
    <input type="hidden" asp-for="pageNo" id="hidpageNo" />
    <input type="hidden" asp-for="pageSize" id="hidpageSize" />
    <input type="hidden" asp-for="sortColumn" id="hidSortColumn" />
    <input type="hidden" asp-for="sortOrder" id="hidSortOrder" />
    <table class="table table-hover table-rounded table-striped border gy-4 gs-7 table-sortable table-scroll">
        <thead>
            <tr>
                <th class="sorting t-plr-sm-5" area-field="Department Name">
                    @Localize.Localize("User Name")
                    <span><i class="fas fa-sort text-white" aria-hidden="true"></i></span>
                </th>
                <th class="sorting t-plr-sm-5" area-field="Description">
                    @Localize.Localize("Role Name")
                    <span><i class="fas fa-sort text-white" aria-hidden="true"></i></span>
                </th>
                <th class="sorting t-plr-sm-5" area-field="CreatedBy">
                    @Localize.Localize("Login Time")
                    <span><i class="fas fa-sort text-white" aria-hidden="true"></i></span>
                </th>
                <th class="sorting t-plr-sm-5" area-field="CreatedDateFormatted">
                    @Localize.Localize("Logout Time")
                    <span><i class="fas fa-sort text-white" aria-hidden="true"></i></span>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.pagedListData != null && Model.pagedListData.Count() > 0)
            {
                @for (int i = 0; i < Model.pagedListData.Count(); i++)
                {
                    var item = Model.pagedListData[i];
                    <tr>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.RoleName
                        </td>
                        <td>
                            @item.LoginDateTime
                        </td>
                        <td>
                            @item.LogoutDateTime
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start pt-3">
        <div class="dataTables_length" id="kt_datatable_fixed_header_length">
            <label>
                <select asp-for="pageSize" id="kt_datatable_page_size" class="form-select form-select-sm form-select-solid">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </label>
        </div>
        <div class="dataTables_info" id="kt_datatable_fixed_header_info" role="status" aria-live="polite">Showing @(Model?.pagedListData?.FirstItemOnPage ?? 0) to @(Model?.pagedListData?.LastItemOnPage ?? 0) of @(Model?.pagedListData?.TotalItemCount ?? 0) records</div>
    </div>
    <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
        <div class="dataTables_paginate paging_simple_numbers" id="kt_datatable_fixed_header_paginate">
            @if (Model.hasPagination)
            {
                <div>
                    @Html.PagedListPager((IPagedList)Model.pagedListData, page => Url.Page("Index", "PagedList",
                             new
                             {
                                 pn = page,
                                 ps = Model.pageSize,
                                 so = Model.sortOrder,
                                 sc = Model.sortColumn,
                                 nm = Model.globalSearch
                             }),
                             PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions()
                {
                    PageClasses = new string[] { "page-link" },
                    LiElementClasses = new string[] { "page-item" },
                    UlElementClasses = new string[] { "pagination pagination-circle pagination-outline" },
                    EllipsesElementClass = "ki-duotone ki-double-left fs-2",
                    Display = PagedListDisplayMode.IfNeeded,
                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                    LinkToPreviousPageFormat = "<i class='fas fa-angle-left'></i>",
                    LinkToNextPageFormat = "<i class='fas fa-angle-right'></i>",
                    LinkToFirstPageFormat = "<i class='fas fa-step-backward'></i>",
                    LinkToLastPageFormat = "<i class='fas fa-step-forward'></i>",
                    MaximumPageNumbersToDisplay = 10, // Adjust this number as needed
                }, new AjaxOptions()
                { HttpMethod = "Get", UpdateTargetId = "_postList", OnBegin = "showInTableLoader()", OnSuccess = "", OnComplete = "hideInTableLoader()" }))
                </div>
            }
        </div>
    </div>
</div>



<div id="tableLoader" class="loader-container">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<script src="~/js/ktable.js" asp-append-version="true"></script>
<script type="text/javascript">

    $(function () {
        KTMenu.init()

        $(document).ready(function () {
            $("#tableLoader").removeClass("hidden"); // Show loader on page load

            $(document).ready(function () {
                $("#tableLoader").addClass("hidden");
            });
        });
    });

</script>